<div id="navbar" class="navbar app-ic-header d-block  toggle-color navbar-expand-lg fixed-top z-index-999 navbar-dark">
    <div class="row no-gutters align-items-center">
        <div class="col-2 col-lg-3 col-md-2">
            <button mat-button="accent" class="flat-secondary-button ml-2" (click)="redirectTo('buy')">
                <div>Erc-20</div>
            </button>

            <button mat-button="accent" class="flat-secondary-button ml-2"
                [matMenuTriggerFor]="menu1">
                <div>{{network_name}}
                    <mat-icon style="vertical-align: middle;">arrow_drop_down</mat-icon>
                </div>
            </button>
            <mat-menu #menu1="matMenu" (change)="switchnetwork()" style="background-color: azure;">
                <button mat-menu-item (click)="connectNetwork('Ethereum Rinkeby'); switchnetworkmumbai()">
                    <span>Matic Network</span>
                </button>
                <button mat-menu-item (click)="connectNetwork('Avalanche'); switchnetworkavax()">

                    <span>Avalanche Network</span>
                </button>
            </mat-menu>
            <!-- <div>
                <input allowValues  #getAmount>
                <div>
                    <button class="buy-sale-buttons-btn" (click)="buyAreveaToken(getAmount.value)">Buy AreveaToken</button>
                    <button  class="buy-sale-buttons-btn" (click)="sellAreveaToken(getAmount.value)">Sell AreveaToken</button>
                </div>
            </div> -->
        </div>
        <!-- <div class="col-2 col-lg-3 col-md-2">
            <button mat-button="accent"  class="flat-secondary-button ml-2"
                (click)="connectNetwork()">
                <div>Ethereum Rinkeby </div>
            </button>
        </div> -->
        <div class="col-9 col-md-10 col-lg-9 text-right">

            <ng-container>

                <!-- desktop view -->
                <div class="d-inline-flex d-lg-inline-flex d-md-inline-flex">
                    <button mat-button="accent" class="flat-secondary-button ml-2" (click)="nftDirection()">
                        <div>NFT Wallet</div>
                    </button>
                    <button mat-button="accent" class="flat-secondary-button ml-2" routerLink="/admin">
                        <div>Admin</div>
                    </button>
                    <!-- <button mat-button color="primary" (click)="redirectTo('signup')" *ngIf="!loggedIn && !userIdParam"  [ngClass]="{'slick-disabled':router.url.includes('/preview')}"  class="flat-primary-button br-30 mr-1 ml-1" [ngStyle]="{'background-color': settingsData.bg_primary_color ? settingsData.bg_primary_color : null ,'color': settingsData.font_primary_color ? settingsData.font_primary_color : null ,
                'font-family': settingsData.font_family ? settingsData.font_family : null  }">Sign Up</button> -->
                    <button mat-button="accent" class="flat-secondary-button ml-2" (click)="redirectTo()">
                        <div>Create Collection</div>
                    </button>

                </div>
                <div class="d-inline-flex d-lg-inline-flex d-md-inline-flex">
                    <button mat-button="accent" class="flat-secondary-button ml-2" style="max-width: 140px;"
                        [matMenuTriggerFor]="menu">
                        <mat-icon *ngIf="walletId == ''"> person_pin</mat-icon>
                        <div *ngIf="walletId != '' " style="max-width: 130px;overflow: hidden;text-overflow: ellipsis;">
                            {{walletId}}</div>
                    </button>
                    <!-- <button mat-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                  </button> -->
                    <mat-menu #menu="matMenu" style="background-color: azure;">
                        <button mat-menu-item>
                            <mat-icon>person</mat-icon>
                            <span>Profile</span>
                        </button>
                        <button mat-menu-item (click)="switchAccount()">
                            <mat-icon>switch_account</mat-icon>
                            <span>Switch Account</span>
                        </button>
                        <button mat-menu-item disabled>
                            <mat-icon>favorite_border</mat-icon>
                            <span>Favorites</span>
                        </button>
                        <button mat-menu-item (click)="signOut()">
                            <mat-icon>lock</mat-icon>
                            <span>Signout</span>
                        </button>
                    </mat-menu>
                </div>
                <div class="d-inline-flex d-lg-inline-flex d-md-inline-flex">
                    <!-- <button mat-button color="primary" (click)="redirectTo('signup')" *ngIf="!loggedIn && !userIdParam"  [ngClass]="{'slick-disabled':router.url.includes('/preview')}"  class="flat-primary-button br-30 mr-1 ml-1" [ngStyle]="{'background-color': settingsData.bg_primary_color ? settingsData.bg_primary_color : null ,'color': settingsData.font_primary_color ? settingsData.font_primary_color : null ,
                'font-family': settingsData.font_family ? settingsData.font_family : null  }">Sign Up</button> -->
                    <button mat-button="accent" *ngIf="walletId == ''" class="flat-secondary-button ml-2"
                        (click)="connectWeb3()">
                        <div>Connect to Wallet</div>
                    </button>
                    <button mat-button="accent" *ngIf="walletId !== '' " class="flat-secondary-button ml-2">
                        <div>Wallet Connected</div>
                    </button>

                </div>
            </ng-container>

        </div>
    </div>
</div>